button {
    background-color: rgb(150, 141, 141);
    border: 1px solid black;
    padding: 10px;
}

.sidebar {
    position: relative;
}

.highlights {
    position: relative;
    left: 50%;
}

.courtWrapper {
    position: absolute;
    top: 45%;
    left: 25%
}



.team1bench {
    position: relative;
    left: 20px;
}

.team2bench {
    position: relative;
    float: right;
}

.statTableWrapper {
    position: relative;
    left: 25%;
    top: 25%;
}

.playerStatWrapper {
    position: absolute;
    top: 2%;
    left: 75%;
}