* {
    border: 0;
    padding: 0;
    margin: 0;
}

/*
------------------- Basketball court styles
*/

.court {
    display: flex;
    box-pack: center;
    box-align: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
.court > main {
    box-sizing: border-box;
    border-width: 3vw 5vw;
    border-style: solid;
    border-color: brown;
    display: flex;
    box-align: center;
    align-items: center;
}
.court > main > div.half-court {
    width: 36vw;
    height: 44vw;
    box-sizing: border-box;
    background: rgb(255, 166, 0);
    border-width: 0.6vw 0.3vw 0.6vw 0.6vw;
    border-style: solid;
    border-color: white;
    overflow: hidden;
    display: inline-flex;
    box-align: center;
    align-items: center;
    box-pack: justify;
    justify-content: space-between;
}
.court > main > div.half-court:after {
    content: "";
    height: 10vw;
    width: 5vw;
    border-radius: 10vw 0 0 10vw;
    border-width: 0.6vw 0 0.6vw 0.6vw;
    border-style: solid;
    border-color: white;
}
.court > main > div.half-court:nth-of-type(2) {
    transform: rotate(180deg);
}
.court > main > div.half-court > div.three-pointer {
    box-sizing: border-box;
    position: relative;
    right: 19.5%;
    border-width: 0.6vw 0.6vw 0.6vw 0;
    border-style: solid;
    border-color: white;
    border-bottom-right-radius: 55%;
    border-top-right-radius: 55%;
    height: 80%;
    width: 80%;
    background: rgb(173, 118, 15);
    display: flex;
    box-align: center;
    align-items: center;
}
.court > main > div.half-court > div.three-pointer > div.free-throw {
    box-sizing: border-box;
    height: 11vw;
    width: 23vw;
    border: 0.6vw solid white;
    box-sizing: border-box;
    position: relative;
    display: flex;
    box-align: center;
    align-items: center;
    box-pack: end;
    justify-content: flex-end;
}
.court > main > div.half-court > div.three-pointer > div.free-throw > div.key {
    box-sizing: border-box;
    transform: rotate(45deg);
    margin-right: -5.3vw;
    height: 11vw;
    width: 11vw;
    border-radius: 50%;
    border-width: 0.6vw;
    border-style: solid solid dashed dashed;
    border-color: white;
    position: relative;
}

/*
------------------- Player and team lineup styles
*/
.bballPlayer {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    text-align: center;
}

.pg.team1 {
    position: absolute;
    left: 28%;
    z-index: 100;
    transition: all 1s linear;
}

.sg.team1 {
    position: absolute;
    left: 25%;
    top: 65%;
    z-index: 100;
    transition: all 1s linear;
}

.sf.team1 {
    position: absolute;
    left: 8%;
    top: 84%;
    z-index: 100;
    transition: all 1s linear;
}

.pf.team1 {
    position: absolute;
    left: 7%;
    top: 8%;
    z-index: 100;
    transition: all 1s linear;
}

.c.team1 {
    position: absolute;
    left: 20%;
    top: 45%;
    z-index: 100;
    transition: all 1s linear;
}

.bballNumber {
    font-size: 20pt;
    color: white;
    position: relative;
    top: 27px;
}

.bballPlayerName {
    font-size: 18pt;
    color: black;
    position: absolute;
    top: 100%;
    left: 0%;
}

.pg.team2 {
    position: absolute;
    right: 46%;
    z-index: 100;
    transition: all 1s linear;
}

.sg.team2 {
    position: absolute;
    right: 43%;
    top: 65%;
    z-index: 100;
    transition: all 1s linear;
}

.sf.team2 {
    position: absolute;
    right: 26%;
    top: 84%;
    z-index: 100;
    transition: all 1s linear;
}

.pf.team2 {
    position: absolute;
    right: 26%;
    top: 8%;
    z-index: 100;
    transition: all 1s linear;
}

.c.team2 {
    position: absolute;
    right: 38%;
    top: 45%;
    z-index: 100;
    transition: all 1s linear;
}

/*
------------- Bench
*/
.bench {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*
--------------- Table Styles 
*/
.statsTable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    background-color: rgba(10, 9, 9, 0.781);
    color: white;
}

.statsTable td, .statsTable th {
    border: 1px solid #ddd;
    padding: 8px;
}

.statsTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(37, 31, 31);
    color: white;
}

/*
------------------ Creates basketball
*/
.basketball {
    position: relative;
    top: 20px;
    left: 50px;
    transform: scale(0.5);
    transition: all 1s linear;
    z-index: 101;
}
  
.ball {
    position: absolute;
    background-color: #e76f51;
    border-radius:50%;
    width:100px;
    height:100px;
    overflow: hidden;
    border: 3px solid #333;
}

  
.ball:before, .ball:after {
    content:"";
    position: absolute;
    background-color: #333;
    width:110px;
    height:3px;
    top:50px;
    left:-5px;
}
  
.ball:before {
    transform: rotate(45deg);
}

.ball:after {
    transform: rotate(-45deg);
}

.lines {
    position: absolute;
    border-radius:50%;
    border: 3px solid #333;
    width:70px;
    height:70px;
    left:-20px;
    top:-20px;
}

.lines:before {
    content:"";
    position: absolute; 
    border-radius:50%;
    border: 3px solid #333;
    width:70px;
    height:70px;
    top:65px;
    left:60px;
}

/*
--------------------- Basketball Animations
*/

.attacking1pg {
    transform: translateX(330%);
}

.attacking1sg {
    transform: translateX(420%);
}

.attacking1sf {
    transform: translateX(1180%);
}

.attacking1pf {
    transform: translateX(1180%);
}

.attacking1c {
    transform: translateX(900%);
}

.shot {
    top: -375px;
    left: 150px;
    visibility: hidden;
}

.score {
    position: relative;
    top: 0;
    left: 50%;
}

/*
--------------------------- Soccer field 
*/
.pitch {
    background-color: #238729;
    width: 590px;
    height: 380px;
    position: relative;
}

.pitch:after {
    content: "";
    border-left: 1px solid rgba(255, 255, 255, 0.507);
    position: absolute;
    top: 20px;
    left: 295px;
    display: block;
    height: 340px;
}

.pitch:before {
    content: "";
    border: 1px solid rgba(255, 255, 255, 0.507);
    position: absolute;
    top: 20px;
    left: 20px;
    display: block;
    width: 550px;
    height: 340px;
}

.center {
    position: absolute;
    top: 145px;
    left: 250px;
    width: 90px;
    height: 90px;
    border: 1px solid rgba(255, 255, 255, 0.507);
    border-radius: 50%;
}
.center:after {
    position: absolute;
    top: 43px;
    left: 43px;
    width: 1px;
    height: 1px;
    background-color:white;
    content: "";
    border: 1px solid rgba(255, 255, 255, 0.507);
}

.penaltyArea {
    position: absolute;
    height: 140px;
    width: 80px;
    top: 120px;
    border: 1px solid rgba(255, 255, 255, 0.507);
}

.left .penaltyArea {
    left: 20px;
    border-left: 0;
}

.right .penaltyArea {
    right: 19px;
    border-right: 0;
}

.penaltyArea:before {
    position: absolute;
    height: 70px;
    width: 35px;
    top: 35px;
    border: 1px solid rgba(255, 255, 255, 0.507);
    content: "";
}
.left .penaltyArea:before {
    left: 0px;
    border-left: 0;
}
.right .penaltyArea:before {
    right: 0px;
    border-right: 0;
}

.penaltyArea:after {
    position: absolute;
    height: 2px;
    width: 2px;
    top: 70px;
    background-color:white;
    content: "";
}
.left .penaltyArea:after {
    right: 15px;
}
.right .penaltyArea:after {
    left: 15px;
}

/*
--------------- Soccer Player Styles
*/
.soccPlayer {
    position: absolute;
    border-radius: 50%;
    width: 15px;
    height: 15px;
}

.soccNumber {
    font-size: 12px;
    position: absolute;
    left: 2.5px;
}

.soccPlayerName {
    font-size: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    text-align: center;
    position: absolute;
    top: 15px;
    left: -5px;
}

.f4-2-3-1:nth-of-type(1) {
    top: 185px;
    left: 15px;
}

.f4-2-3-1:nth-of-type(2) {
    top: 140px;
    left: 75px;
}

.f4-2-3-1:nth-of-type(3) {
    top: 220px;
    left: 75px;
}

.f4-2-3-1:nth-of-type(4) {
    top: 305px;
    left: 75px;
}

.f4-2-3-1:nth-of-type(5) {
    top: 55px;
    left: 75px;
}

.f4-2-3-1:nth-of-type(6) {
    top: 140px;
    left: 140px;
}

.f4-2-3-1:nth-of-type(7) {
    top: 220px;
    left: 140px;
}

.f4-2-3-1:nth-of-type(8) {
    top: 305px;
    left: 185px;
}

.f4-2-3-1:nth-of-type(9) {
    top: 55px;
    left: 185px;
}

.f4-2-3-1:nth-of-type(10) {
    top: 185px;
    left: 185px;
}

.f4-2-3-1:nth-of-type(11) {
    top: 185px;
    left: 235px;
}

.f4-1-3-2:nth-of-type(1) {
    top: 185px;
    left: 15px;
}

.f4-1-3-2:nth-of-type(2) {
    top: 140px;
    left: 75px;
}

.f4-1-3-2:nth-of-type(3) {
    top: 220px;
    left: 75px;
}

.f4-1-3-2:nth-of-type(4) {
    top: 305px;
    left: 75px;
}

.f4-1-3-2:nth-of-type(5) {
    top: 55px;
    left: 75px;
}

.f4-1-3-2:nth-of-type(6) {
    top: 185px;
    left: 140px;
}

.f4-1-3-2:nth-of-type(7) {
    top: 185px;
    left: 185px;
}

.f4-1-3-2:nth-of-type(8) {
    top: 305px;
    left: 185px;
}

.f4-1-3-2:nth-of-type(9) {
    top: 55px;
    left: 185px;
}

.f4-1-3-2:nth-of-type(10) {
    top: 140px;
    left: 240px;
}

.f4-1-3-2:nth-of-type(11) {
    top: 220px;
    left: 240px;
}

.awayTeam {
    transform: scale(-1, 1);
}

.awayTeam .soccNumber {
    transform: scale(-1, 1);
}

.awayTeam .soccPlayerName {
    transform: scale(-1, 1);
}

/*
------------- Player Stats
*/
.playerStats {
    border: 1px solid black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: fit-content;
    padding: 10px;

}

/*
------------- Soccer Ball
*/
.soccerBall {
    background-color: transparent;
    height: 10px;
    width: 10px;
}